body{
    
    font-family:'League Spartan',sans-serif;
    font-size:15px;
    font-weight:400;
}
/* @font-face{
    font-family:'League Spartan',sans-serif;
    src:url('https://fonts.google.com/specimen/League+Spartan')
} */
.container{
    margin:80px 14px;
}
.headline{
    text-align:center;
    color:hsl(303, 10%, 53%);
    font-weight:500;
   margin-bottom:50px;
}

h2{font-size:40px;color:hsl(300, 43%, 22%);margin-bottom:0}
p{
    line-height:1.5;
    
}

.rating{
    background:hsl(300, 24%, 96%);
    border-radius:10px;
    text-align:center;
    margin-bottom:15px;
    padding:10px;
}
.rating span{
   
    display:block;
    margin-top:5px;
    font-weight:700;
    color:hsl(300, 43%, 22%);
    
}
img{
    width:40px;height:40px;border-radius:100%;display:inline-block;margin:10px
}
.review{
    margin-top:25px;
    padding:20px;
    text-align:left;
    border-radius:10px;
    background:hsl(300, 43%, 22%);
    color:white
}
.review span{
    display:inline-block;
    position:relative;top:-4px
    
}
.review .name,.vb{
    display:block;
    margin-top:5px
    
}
.vb{
    color:hsl(333, 80%, 67%);
}
.reviews{
    margin-top:50px;
}




.mobile-background{
    width:100vw;
        position:absolute;
    visibility:hidden;
}
.desktop-background{
    width:100vw;
    position:absolute;
    visibility:visible;
}




@media (min-width: 375px){
    .mobile-background{
        
        visibility:visible;
      }
      .desktop-background{
        visibility:hidden;
      }
}



@media (min-width: 775px){
    
      .headline{
        text-align:left;
        max-width:25rem;
      }
      .container{
        display:flex;
        flex-wrap:wrap;
      }
      .rating{
        display:flex;
width:100%;
        margin:10px;
        padding:15px 30px;
        position:relative;
      }
      .rating svg{
        margin:2.5px
      }
      .rating span{
        margin:0 25px;
      }
      .ratings{
        width:100%;
        max-width:45vw;
      }
      .ratings :nth-of-type(2){
        left:25px
      }
      .ratings :nth-of-type(3){
        left:50px
      }
      .reviews{
        display:flex;
        
      }
      .review{
        margin:10px;
        max-width:375px;
      }
      .reviews .review:nth-child(2){
        position:relative;top:30px;
      }
      }
      .reviews .review:nth-of-type(3){
        position:relative;top:60px;
      }
}